.menu{
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns:75% 8% ;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    margin-top: -42.7rem;
    margin-bottom: 38rem;
    padding-left: 2rem;

}
.menu1 h1{
  font-size: 26px;
  font-weight: 750; 

}
.menu2{
    align-items: center;
    /* float: right; */
    /* align-content: center; */
}
.menu span{
    background-color: aliceblue;
    height: 2px;
    width: 4px;
}
.s1{
    background-color: aliceblue;
    color: aliceblue;
    height: 2px;
    width: 4px;
    font-size: xx-large;
}